@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}


.text, .name {
    white-space: nowrap;
    margin: 0 10px;
}

.text {
    font-size: 1.2em;
    text-decoration: none;
}

.name {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
}