body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  height: 100vh; /* Full viewport height */
  min-width: 320px;
  background-color: var(--main-bg-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1; /* Pushes footer down */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: var(--body-padding); /* Keeps some space inside */
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  gap: 2vw;
}

.headline1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
}

.homeContainer p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  margin-bottom: 15px;
}

.accent {
  color: var(--accent-color);
  display: inline-block;
  opacity: 0;
  animation:
    dotEnter 1.7s ease-out forwards,
    dotFloat 5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  animation-delay: 0s, 1.7s;
}

.homepageCTA {
  border: solid 0.5px #CACACA;
  width: 210px;
  height: 70px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;     
  text-align: center;
}

@keyframes dotEnter {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Gentle float */
@keyframes dotFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* small movement = smoother */
  }
}
